.style-logo {
	margin-top: 15px;
	margin-left: 30px;
	margin-right: auto;
	display: block;
	width: 125px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 17px;
	vertical-align: middle;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}

.hero {
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
}

.info-box-tan {
	background-color: #677179;
	color: #FFFFFF;
	padding-left: 90px;
	text-align: center;
	
}
img{
	width: 700px;
}
.info-box-dark {
	background-color: #677179;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
	padding-left: 101px;
}
fieldset{
	text-align: center
}

}
.footer-text {
	font-size: 13px;
	margin-bottom: 20px;
}

.col {
	width: 100%;
	background-color: #677179;
}
.col-col-md-one-half{
	background-color: #677179;
}

.ENTETE:before, .ENTETE:after {
	content: "";
	display: table;
}

.ENTETE:after {
	clear: both;
}

/*Tablette Vue*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
	

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	.style-nav {
		float: right;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
}

form{
	text-align: center
}
body {
 font-family:"trebuchet ms",sans-serif;
 font-size:90%;
 background-color: #677179
 }
form {
 background-color:white;
 padding:10px;
 width:1000px;
 background-image: url(outdoor-1209594_1280.jpg);
 }

fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 margin-left:;
 border:10px solid #677179;

 }
legend {
 color:white;
 font-weight:bold
 }
label {
 margin-top:10px;
 display:block;
 }
label.inline {
 display:inline;
 margin-right:50px;
 }
input, textarea, select, option {
 background-color:white;
 }
input, textarea, select {
 padding:3px;
 border:1px solid #677179;
 border-radius:5px;
 width:200px;
 box-shadow:1px 1px 2px #C0C0C0 inset;
 }
select {
 margin-top:10px;
 }
input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;
 }

input[type=submit], input[type=reset] {
 width:100px;
 margin-left:5px;
 box-shadow:1px 1px 1px #677179;
 cursor:pointer;
 }

	



	